.fixedHeaderContainer {
  background: #fff;
  border-bottom: 1px solid #d4dadf;
  box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
}

.navigationSlider .slidingNav ul li a {
  color: var(--u-color--black-light);
  font-size: 18px;
  font-family: Avenir Next LT Pro, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navigationSlider .slidingNav ul li a:hover {
  background: transparent;
  color: var(--u-color--primary);
}

.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background: transparent;
  color: var(--u-color--primary);
  font-weight: bold;
}

input#search_input_react {
  background-color: var(--u-color-gray--light);
}

input#search_input_react::placeholder {
  color: var(--u-color--black-lighter);
}

.navSearchWrapper::before {
  border: 3px solid var(--u-color--black-lighter) !important;
}

.navSearchWrapper::after {
  background: var(--u-color--black-lighter) !important;
}

h2.headerTitleWithLogo {
  color: #35454e !important;
}
