/* navbar */
.fixedHeaderContainer {
  background: #fff;
  border-bottom: 1px solid #d4dadf;
  box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
}

.nav-site li {
  background: #ffff;
}

/* navbar links */
.navigationSlider .slidingNav ul li a {
  color: var(--u-color--grey);
  font-size: 18px;
  font-family: Avenir Next LT Pro, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navigationSlider .slidingNav ul li a:hover {
  background: transparent;
  color: var(--u-color--blue);
}

/* active */
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background: transparent;
  color: var(--u-color--blue);
}

li.siteNavGroupActive::after,
li.siteNavItemActive::after {
  position: absolute;
  content: "";
  border-bottom: 3px solid var(--u-color--blue);
  width: 50px;
  transform: translateX(-50%);
  bottom: -12px;
}

/* Search bar */
input#search_input_react {
  background-color: var(--u-color--grey--light);
}

input#search_input_react::placeholder {
  color: var(--u-color--grey-lighter);
}

.navSearchWrapper::before {
  border: 3px solid var(--u-color--grey-lighter) !important;
}

.navSearchWrapper::after {
  background: var(--u-color--grey-lighter) !important;
}

/* logo and title */
header h2.headerTitleWithLogo {
  color: #35454e !important;
  margin-top: 8px;
}

header img.logo {
  height: 42px;
  margin-bottom: 6px;
}

.fixedHeaderContainer header > a > img {
  /* spinning logo */
  transition: 3s;
}
.fixedHeaderContainer header > a:hover > img {
  transform: rotate(1080deg);
}

/* Sidebar */
.docsNavContainer h3 {
  font-weight: bold !important;
}

@media only screen and (max-width: 736px) {
  li.siteNavGroupActive::after,
  li.siteNavItemActive::after {
    bottom: 0px;
  }
}
