html {
  box-sizing: border-box !important;
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothisng: grayscale !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800 !important;
  color: #3a3a3a !important;
}

p {
  color: #3a3a3a !important;
}

pre,
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
}
