h1 {
  font-family: AvenirNextLTPro--bold;
  color: var(--u-color--black);
}

h2 {
  font-family: AvenirNextLTPro--demi;
  color: var(--u-color--black) !important;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
