:root {
  --u-color--secondary: rgb(228, 141, 110);
  --u-color--default: rgb(218, 218, 218);
  --u-color--accent: rgb(218, 218, 218);
}

/* Blue colors */
:root {
  --u-color--blue: #809ADF;
}

/* Black colors */
:root {
  --u-color--black: #202124;
}

/* Grey colors */
:root {
  --u-color--grey-lighter: #BEBEBE;
  --u-color--grey--light: #EBECED;
  --u-color--grey: #565656;
}