:root {
    --font-avenir--regular: 'AvenirNextLTPro--regular';
    --font-avenir--bold: 'AvenirNextLTPro--bold';
    --font-avenir--demi: 'AvenirNextLTPro--demi';
    --font-avenir--medium: 'AvenirNextLTPro--medium';
    --font-source-code--regular: 'SourceCodePro--regular';
}