@font-face {
  font-family: 'AvenirNextLTPro--regular';
  src: url('../../fonts/AvenirNextLTPro-Regular.ttf');
}

@font-face {
  font-family: 'AvenirNextLTPro--medium';
  src: url('../../fonts/AvenirNextLTPro-Medium.ttf');
}

@font-face {
  font-family: 'AvenirNextLTPro--demi';
  src: url('../../fonts/AvenirNextLTPro-Demi.ttf');
}

@font-face {
  font-family: 'AvenirNextLTPro--bold';
  src: url('../../fonts/AvenirNextLTPro-Bold.ttf');
}

@font-face {
  font-family: 'SourceCodePro--regular';
  src: url('../../fonts/SourceCodePro-Regular.otf');
}
